

services:
  db:
    image: postgres:18-alpine
    container_name: escolar_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}   
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD} 
      POSTGRES_DB: ${POSTGRES_DB}             
    ports:
      - "5435:5432"
    volumes:
      - ./db:/docker-entrypoint-initdb.d

  app:
    build: .
    container_name: escolar_app
    restart: always
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - db
    volumes:
      - ./src:/app/src
      - ./public:/app/public